.heading{
    font-size:23px ;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px royalblue;
}
.note{
    font-size: 20px;
    color:aquamarine ;
}
.footer{
    text-align: center;
    background-color: blue;
    font-size: 20px;
    color: yellow;
    width: 100%;
    bottom: 0;
    line-height: 3;
    position: fixed;
}
canvas{
    border: 5px solid lime;
    border-radius: 20px;
    box-shadow: 5px 5px 5px yellow;
}